.scoreShow {
    width: 30%;
    margin: 10px auto;
    padding: 20px;
    background: lightgray;
    border-radius: 10px;
}

.quizWrapper {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

.quizWrapper hr {
    border: 2px black solid;
}

.quizWrapper .leftContent {
    background: rgba(224, 224, 224, 0.5);
    border-radius: 10px;
}

.quizWrapper .rightContent .countdownTimer {
    border-radius: 10px;
}

.quizWrapper ul {
    list-style: none;
}

.quizWrapper .content h3 {
    font-weight: bold;
}

.quizWrapper .content ul li:hover {
    background: lightgray;
}

.quizWrapper .content {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.quizWrapper .content .contentDisabled {
    pointer-events: none;
}

.quizWrapper .content .showCorrectAnswer {
    font-weight: bold;
}

.quizWrapper .content .questionTitle .flagBtn {
    float:right;
}

.quizWrapper .content .questionContent {
    height: 150px;
    max-height: 150px;
    overflow: auto;
}

.quizWrapper .content ul {
}

.quizWrapper .content ul li {
    cursor: pointer;
    padding: 5px;
}

.quizWrapper .content ul li input[type='radio'] {
}

.quizWrapper .content p, .content ul li {
    font-size: 20px;
}

.quizWrapper .numbers {
    width: 100%;
    margin: 0 auto;
}

.quizWrapper .numbers .questionsNum {
    padding: 10px;
    clear: both;
}

.quizWrapper .questionsNum ul li {
    background: lightblue;
    margin: 2px;
    width: 86px;
    height: 33px;
    text-align: center;
    font-size: 13px;
}

.quizWrapper .questionsNum .answered {
    background: lightgreen;
}

.quizWrapper .numbers .navigateBtn {
    margin: 10px auto;
    padding:10px;
}

.quizWrapper .numbers .navigateBtn .toPrevious {
    float:left;
}

.quizWrapper .numbers .navigateBtn .toNext {
    float:right;
}

.quizWrapper .examSubmit {
    padding: 10px;
}

.quizWrapper .examSubmitBtn {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
}

.quizWrapper #navigationButtonStatus, #showFlaggedQuestionStatus {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 80%;
}


.quizWrapper .keyInstruction {
    background: rgba(224, 224, 224, 0.5);
    margin-top: 10px;
    padding:10px;
    border-radius: 10px;
}

.quizWrapper .keyInstruction table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow:hidden;
    cursor: default;
    pointer-events: none;
}

.quizWrapper .keyInstruction table tr td {
    padding: 5px;
}

.quizWrapper .keyInstruction img {
    height: 40px;
}

.quizWrapper .countdownTimer {
    background: rgba(224, 224, 224, 0.5);
    padding: 10px;
    text-align: center;
}

.quizWrapper .circle-timer {
    margin: 0 auto;
}

/* #timer {
  transform:rotate(-90deg);
} */
.circle-timer {
    width: 200px;
    height: 200px;
    position: relative;
}
svg {
    max-width: 100%;
}
.timer-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 10%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
#remaining {
    font-size: 50px;
    color: #64e134;
    transition: color 3s linear;
}
#stop1,
#stop2 {
    transition: all 3s linear;
}
#ticker {
    transition: all 1s linear;
}