.scoreShow {
    width: 30%;
    margin: 10px auto;
    padding: 20px;
    background: lightgray;
    border-radius: 10px;
}

.quizWrapper {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

.quizWrapper hr {
    border: 2px black solid;
}

.quizWrapper .leftContent {
    background: rgba(224, 224, 224, 0.5);
    border-radius: 10px;
}

.quizWrapper .rightContent .countdownTimer {
    border-radius: 10px;
}

.quizWrapper ul {
    list-style: none;
}

.quizWrapper .content h3 {
    font-weight: bold;
}

.quizWrapper .content h3.titleButtons {
    float:right;
}

.quizWrapper .content ul li:hover {
    background: lightgray;
}

.quizWrapper .content {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.quizWrapper .actionDisabled {
    pointer-events: none;
}

.quizWrapper .disappear {
    display:none;
}

.quizWrapper .rightAnswer {
    background:lightgray;
    color: green;
}

.quizWrapper .rightAnswer:after {
    content: '✔️';
    font-weight: bold;
}

.quizWrapper .wrongAnswer {
    background:lightgray;
    color: red;
}

.quizWrapper .wrongAnswer:after {
    content: '❌';
    font-weight: bold;
}

.quizWrapper .content .showCorrectAnswer {
    font-weight: bold;
}

.quizWrapper .content .questionContent {
    height: 150px;
    max-height: 150px;
    overflow: auto;
}

.quizWrapper .content ul {
}

.quizWrapper .content ul li {
    cursor: pointer;
    padding: 5px;
}

.quizWrapper .content ul li input[type='radio'] {
}

.quizWrapper .content p, .content ul li {
    font-size: 20px;
}

.quizWrapper .numbers {
    width: 100%;
    margin: 0 auto;
    background: rgba(224, 224, 224, 0.5);
    border-radius: 10px;
}

.quizWrapper .numbers .questionsNum {
    padding: 10px;
    margin-bottom: 10px;
}

.quizWrapper .numbers .questionsNum ul li {
    background: lightblue;
    margin: 2px;
    width: 65px;
    height: 33px;
    text-align: center;
    font-size: 13px;
}

.quizWrapper .rightContent .numbers .questionsNum .wrongAnsweredQuestion {
    background: #ff5b51;
}

.quizWrapper .rightContent .numbers .questionsNum .unAnsweredQuestion {
    background: orange;
}

.quizWrapper .numbers .questionsNum .answered {
    background: lightgreen;
}

.quizWrapper .numbers .questionsNum .flagging:after {
    content: ' 🚩';
}

.quizWrapper .quiz-bottom-buttons {
    width: 200px;
    max-width: 250px;
    margin: 0 auto;
}

.quizWrapper .examSubmit {
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
}

.quizWrapper .examSubmitBtn {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.quizWrapper #navigationButtonStatus, #showFlaggedQuestionStatus {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 80%;
}


.quizWrapper .keyInstruction {
    background: rgba(224, 224, 224, 0.5);
    margin-top: 10px;
    padding:10px;
    border-radius: 10px;
}

.quizWrapper .keyInstruction table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow:hidden;
    cursor: default;
    pointer-events: none;
}

.quizWrapper .keyInstruction table tr td {
    padding: 5px;
}

.quizWrapper .keyInstruction img {
    height: 40px;
}

.quizWrapper .countdownTimer {
    background: rgba(224, 224, 224, 0.5);
    padding: 10px;
    text-align: center;
}

.quizWrapper .circle-timer {
    margin: 0 auto;
}

/* #timer {
  transform:rotate(-90deg);
} */
.circle-timer {
    width: 200px;
    height: 200px;
    position: relative;
}
svg {
    max-width: 100%;
}
.timer-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 10%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
#remaining {
    font-size: 50px;
    color: #64e134;
    transition: color 3s linear;
}
#stop1,
#stop2 {
    transition: all 3s linear;
}
#ticker {
    transition: all 1s linear;
}

#countdown {
    font-size: 18px;
    font-weight : bold;
    background-color : #205081;
    color : #FFF;
    padding : 5px;
    width: 70px;
    text-align : center;
    border : 2px solid #002663;
    border-radius : 5px;
    display:none;
}

@media only screen and (max-width: 900px) {
    .quizWrapper .rightContent .countdownTimer {
        display:none;
    }

    #countdown {
        display: inline-block;
        cursor: default;
    }
}