/* Layouts */
#header {
    background: #c1eec3;
}

#navbar {
    background: lightcyan;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px;
}

footer {
    background: linear-gradient(45deg, #318CCA 0, rgb(85, 147, 29) 100%);
    color:white;
    width: 100%;
}
/* END layouts */

/* Home Content */
#examPromo {
    padding: 20px;
    background-color: lightgray;
}

#examPromo .moduleExams {
    border: 3px white solid;
    box-shadow: 2px 2px 10px 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}

.carousel-caption {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 50px;
    width: 70%;
}

#whyChooseUs {
    text-align: center;
    padding:10px;
}

#whyChooseUs .whyOptions {
    height: 250px;
    color:white;
    cursor:default;
}

#whyChooseUs .whyOptions .optionText {
    margin: 0 -14px;
    padding: 10px;
    height:250px;
    background-color: rgb(0, 0, 0, 0.5);
    transition: all 0.3s;
}

#whyChooseUs .whyOptions .optionText:hover {
    opacity: 0.5;
}
/* END Home Content */

/* Login & Register Forms */
.loginWrapper {
    width: 40%;
    height: 350px;
    border: 1px black solid;
    margin: 20px auto;
    padding: 45px;
    border-radius: 20px;
}

.loginForm input, .loginForm button {
    margin: 10px;
}

.registerWrapper {
    width:50%;
    margin: 10px auto;
}

label.error {
    color:red;
}
/* END Login & Register Form */

/* Exam List */
.examTypeDescription {
    border: 2px black solid;
    padding:10px;
    margin:10px;
    font-size: 20px;
}

.examTypeDescription .examImage {
    margin-right: 10px;
}

.examList {
    border: 3px black solid;
    margin-bottom: 10px;
    padding:5px;
}

.examList .examInfo {
    border: 2px lightblue solid;
    padding: 10px;
    height:200px;
}

.examList .examInfo .userStatistic {
    padding: 20px 10px;
    text-align: center;
}
/* END Exam List */